.bodybg {
    -fx-background-image: url("file:src/main/resources/Room.jpg");
    -fx-background-size: 100% 100%;
}

/* Scroll pane and bars styling */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 16.5;
    -fx-padding: 0 2 0 7;
}

.scroll-bar .thumb {
    -fx-background-color: transparent;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #2b2b2b;
}

.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: transparent;
}


/* Flow Pane, Cards and separators of the shop*/

.flowpane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: transparent;
}

.item-card {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.item-card:hover {
    -fx-background-color: #962f2f;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    
}

.intro-banner-card {
    -fx-background-color: #D9C198;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.intro-banner-card:hover {    
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.promo-card {
    -fx-background-color: #68A48C;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.promo-card:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button-shopcart {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-size: 15;
    -fx-font-family: "Berlin Sans FB";
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button-shopcart:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.separator .line {
    -fx-background-color: #424242;
    -fx-pref-height: 1;
    -fx-border-color: transparent;
}


/* Labels and other text */

.label{
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;     
}

.title-label {
    -fx-font-size: 36;
    -fx-font-family: "Gabriola";    
    -fx-text-fill: #000000;
    -fx-rotate: 0;
}

